<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap-grid.min.css">
    <title>encabezado</title>
</head>
<body class="p-3 mb-2 bg-info text-dark">
    <center>
        <h1>Compañia de Luz</h1>

        <img src="./img/LogoCFE.png" class="img-fluid" alt="">
    </center>
</body>
<br>
</html>