<center>
    <%-include('partials/encabezado.html'); %>
</center>

<body>
    <center>
        <div class="container">
            <nav class="navbar navbar-expend-lg navbar-light bg-dark">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a style="color: white;" class="nav-link" href="#">Acerca de</a>
                        </li>

                        <li class="nav-item">
                            <a style="color: white;" class="nav-link" href="#">Pago de recibo</a>
                        </li>

                        <li class="nav-item">
                            <a style="color: white;" class="nav-link" href="#">Contactos</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <br>
            <br>

            <div class="container">
                <form action="/index" method="post" style="background-color: rgb(245, 234, 79);">
                    
                    <label class="lead">Número de recibo:</label>
                    <input style="width: 300px;" aria-label="amount (to the nearest dollar)" type="text" name="recibo" id="recibo" required="true">
    

                    <label for="" class="col-sm-2 col-form-label">Domicilio:</label>
                    <input style="width: 300px;" aria-label="Amount (to the nearest dollar)" type="text" name="domicilio" id="domicilio" required="true">

                    <label for="" class="lead">Tipo de servicio:</label>
                    <select style="width: 300px;" class="form-control border-secondary" name="tipo" id="tipo">
                        <option value="1">Domestico</option>
                        <option value="2">Comercial</option>
                        <option value="3">Industrial</option>
                    </select>

                    <br>
                    <br>

                    <label for="" class="lead">Kilowatts consumidos:</label>
                    <input style="width: 300px;" class="form-control" arial-label="Amount (to the nearest dollar)" type="number" name="consumo" id="consumo" required="true">
    
                    <br>
                    <hr>
    
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Enviar</button>
                    <button type="reset" class="btn btn-primary btn-lg btn-block" onclick="Limpiar()">Limpiar</button>
                </form>
            </div>
        </div>
    </center>
    <br>  
<%-include('partials/piePagina.html'); %> 
</body>

<script>
    function Limpiar(){
        const recibo = document.getElementById("recibo");
        const nombre = document.getElementById("nombre");
        const domicilio = document.getElementById("domicilio");
        const tipoServicio = document.getElementById("tipoServicio");
        const KilloWattsConsumidos = document.getElementById("KilloWattsConsumidos");
      
        recibo.value="";
        nombre.value="";
        domicilio.value="";
        tipoServicio.value="";
        KilloWattsConsumidos.value="";
    }
</script>
</html>