<!DOCTYPE html>
<html lang="en">

<%-include('partials/encabezado.html');%>

<%
kilos=consumo;

if(tipo==1){
    consumo=kilos * 1.08;
    costo = 1.08;
    tipo = "Domestico";
}if(tipo==2){
    consumo=kilos * 2.5;
    costo = 2.5;
    tipo = "Domercial";
}if(tipo==3){
    consumo=kilos * 3;
    costo = 3;
    tipo = "Industrial";
}

subtotal = consumo;
iva = subtotal * 0.16;

if(consumo <= 1000){
    descuento = 0.1;
}else if(consumo > 1000 && consumo <= 10000){
    descuento = 0.2;
}else if(consumo > 10000){
    descuento = 0.5;
}
descuento = subtotal * descuento;
total = subtotal + parseInt(subtotal * 0.16) - (subtotal * descuento);
%>

<body style="background-color: aquamarine;">
    <div class="container" style="background-color: black; border: 2px black solid; padding: 10px; margin-top: 10px;">

        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo de servicio</th>
                    <th scope="col">Kilowatts</th>
                    <th scope="col">Costo Kilowatts</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><%=nombre%></th>
                    <td><%=tipo%></td>
                    <td><%=kilos%></td>
                    <td><%=costo%></td>
                </tr>

                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td>Subtotal:</td>
                    <td><%=subtotal%></td>
                </tr>

                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td>Impuesto:</td>
                    <td><%=iva%></td>
                </tr>

                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td>Descuento:</td>
                    <td><%=descontado%></td>
                </tr>

                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td>Total a pagar</td>
                    <td><%=total%></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

<script>
    function Limpiar(){
        const recibo = document.getElementById("recibo");
        const nombre = document.getElementById("nombre");
        const domicilio = document.getElementById("domicilio");
        const tipoServicio = document.getElementById("tipoServicio");
        const KilloWattsConsumidos = document.getElementById("KilloWattsConsumidos");
      
        recibo.value="";
        nombre.value="";
        domicilio.value="";
        tipoServicio.value="";
        KilloWattsConsumidos.value="";
    }
</script>

<%-include('partials/piePagina.html');%>
</html>