<body>
    <div class="container">
        <table>
            <tr>
                <td>Nombre</td>
                <td>Tipo de servicio</td>
                <td>Kilowatts consumidos</td>
                <td>Costo por kilowatts</td>
            </tr>
        </table>
    </div>
</body>
</html>