<body>
    <div class="container p-3 mb-2 bg-info text-dark">
        <nav class="">
            <a href="#">Acerca de</a>
            <a href="/views/PagoRecibo.ejs">Pago de Recibo</a>
            <a href="#">Contactos</a>
        </nav>

        
    </div>
</body>
</html>