<center>
    <%-include('partials/encabezado.html');%>
</center>

<body>
    <center>
        <div class="container">
            <nav class="navbar navbar-expend-lg navbar-light bg-dark">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a style="color: white;" class="nav-link" href="#">Acerca de</a>
                        </li>

                        <li class="nav-item">
                            <a style="color: white;" class="nav-link" href="#">Pago de recibo</a>
                        </li>

                        <li class="nav-item">
                            <a style="color: white;" class="nav-link" href="#">Contactos</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <br>
            <br>

            <div class="container" style="background-color: rgb(245, 234, 79);">
                <%
                    kilos=consumo;

                    if(consumo <= 1000){
                        descuento = 0.1;
                    }else if(consumo > 1000 && consumo <= 10000){
                        descuento = 0.2;
                    }else if(consumo > 10000){
                        descuento = 0.5;
                    }

                    if(tipo==1){
                        consumo=kilos * 1.08;
                        costo = 1.08;
                        tipo = "Domestico";
                    }if(tipo==2){
                        consumo=kilos * 2.5;
                        costo = 2.5;
                        tipo = "Domercial";
                    }if(tipo==3){
                        consumo=kilos * 3;
                        costo = 3;
                        tipo = "Industrial";
                    }

                    subtotal = consumo;
                    iva = subtotal * 0.16;

                    descontado = subtotal * descuento;
                    total = subtotal + (subtotal * 0.16) - (subtotal * descuento);
                %>
            </div>

            <table id="tabla" class="table table-hover table-striped table-bordered border-secondary" style="text-align: center;">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tipo de servicio</th>
                        <th scope="col">Kilowatts</th>
                        <th scope="col">Costo Kilowatts</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><%=nombre%></th>
                        <td><%=tipo%></td>
                        <td><%=kilos%></td>
                        <td><%=costo%></td>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td>Subtotal:</td>
                        <td><%=subtotal%></td>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td>Impuesto:</td>
                        <td><%=iva%></td>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td>Descuento:</td>
                        <td><%=descontado%></td>
                    </tr>

                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td>Total a pagar</td>
                        <td><%=total%></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </center>
</body>

<script>
    function Limpiar(){
        const recibo = document.getElementById("recibo");
        const nombre = document.getElementById("nombre");
        const domicilio = document.getElementById("domicilio");
        const tipoServicio = document.getElementById("tipoServicio");
        const KilloWattsConsumidos = document.getElementById("KilloWattsConsumidos");
      
        recibo.value="";
        nombre.value="";
        domicilio.value="";
        tipoServicio.value="";
        KilloWattsConsumidos.value="";
    }
</script>

<%-include('partials/piePagina.html');%>
</html>